body{
    background-color: #E5E0FF;
    text-align: center;
    font-family: serif, sans-serif ;
}
h1{
    font-size: 50px;
    margin: 0;
    font-family:'cursive','Lucida Sans', 'Lucida Sans Regular';
    color:#66BFBF;
    
}

hr{
    color: #B5D5C5;
    border-style: none;
    border-width: 10px;
    width: 10%;
    border-top-style: dotted;
    

}

.top-container{
    background-color:#B5D5C5;
    width: auto;
    padding-top: 100px;
}
/* .middle-container{
}
.lower-container{
} */

.web{
    color:blueviolet ;
    text-decoration: underline;
    
}

.bottom-cloud{
    position: absolute;
}

.top-cloud{
    position: relative;
    left: 200px;
}

.images{

    width: 200px;
    height: 200px;

}

.skills{
    width: 400px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a{
    text-decoration: none;
}
a:hover{
    color: beige ;
}